* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@media (max-width: 56.25em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}
body {
  font-size: 1.6rem;
}
.background-center {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body {
  background-image: linear-gradient(to right, rgba(90, 98, 132, 0.6), rgba(90, 98, 132, 0.6)), url(../assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 8rem 3rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.5;
}
@media (max-width: 25em) {
  body {
    padding: 0;
  }
}
body.nav-menu-open::after {
  visibility: visible;
  opacity: 1;
}
body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  background-color: rgba(90, 98, 132, 0.75);
  z-index: 4;
}
.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 25em) {
  .container {
    border-radius: 0;
  }
}
.secondary-heading {
  font-size: 2.6rem;
  color: #ee6787;
  margin-bottom: 2rem;
}
.secondary-heading--white {
  color: #fff;
}
.text {
  max-width: 48rem;
  margin: 0 auto;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
.text--white {
  color: #fff;
}
.header {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
}
.header__brand {
  text-decoration: none;
  color: inherit;
}
.header__brand-title {
  color: black;
  transition: all 0.3s 0.15s;
}
.header__brand-author {
  color: #bdbdbd;
  transition: all 0.3s;
}
.header__brand:hover .header__brand-title,
.header__brand:hover .header__brand-author {
  color: #ee6787;
}
.hamburger {
  cursor: pointer;
}
.hamburger__line {
  width: 25px;
  height: 2px;
  background-color: #bdbdbd;
  display: block;
  transition: all 0.3s;
}
.hamburger__line:not(:last-child) {
  margin-bottom: 0.5rem;
}
.hamburger:hover .hamburger__line {
  background-color: #ee6787;
}
.cta {
  padding: 9rem 3rem;
  background-image: linear-gradient(to right, rgba(90, 98, 132, 0.75), rgba(90, 98, 132, 0.75)), url(../assets/cta-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: top;
  color: #fff;
  text-align: center;
}
.cta__box {
  padding: 5rem;
  background-image: linear-gradient(to right, rgba(238, 103, 134, 0.85), rgba(245, 148, 96, 0.85));
  max-width: 50rem;
  margin: 0 auto;
  border-radius: 1rem;
  animation: slideIn 1.5s ease-out;
}
.cta__heading {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}
.cta__text {
  margin-bottom: 2rem;
}
.cta__button {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  display: inline-block;
  transition: all 0.3s;
}
@media (max-width: 37.5em) {
  .cta__button {
    width: 100%;
  }
}
.cta__button:hover {
  background-color: rgba(255, 255, 255, 0.06);
}
.cta__button--block {
  display: block;
  text-align: center;
}
.cta__button--white {
  background-color: #fff;
  color: #ee6786;
}
.cta__button--white:hover {
  background-color: #fff;
}
@keyframes slideIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.features {
  padding: 8rem 3rem;
  text-align: center;
}
.features__boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 60rem;
  position: relative;
  margin: 0 auto;
}
.features__boxes::after {
  content: '';
  width: 100%;
  height: 2px;
  top: 4.9rem;
  background-color: #eee;
  position: absolute;
}
@media (max-width: 37.5em) {
  .features__boxes::after {
    display: none;
  }
}
.features__box {
  z-index: 3;
  background-color: #fff;
}
@media (max-width: 37.5em) {
  .features__box {
    width: 50%;
    padding: 2rem;
  }
  .features__box:nth-of-type(1),
  .features__box:nth-of-type(2) {
    border-bottom: 1px solid #ddd;
  }
  .features__box:nth-of-type(odd) {
    border-right: 1px solid #ddd;
  }
}
.features__box-icon {
  font-size: 4rem;
  color: #ee6787;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #eee;
  border-radius: 50%;
  margin-bottom: 2rem;
}
@media (max-width: 37.5em) {
  .features__box-icon {
    margin: 0 auto 2rem;
  }
}
.features__box-caption {
  font-size: 2rem;
}
.middle-hero {
  display: flex;
  flex-wrap: wrap;
}
.middle-hero__left,
.middle-hero__right {
  width: 50%;
}
@media (max-width: 37.5em) {
  .middle-hero__left,
  .middle-hero__right {
    width: 100%;
    text-align: center;
  }
}
.middle-hero__left {
  padding: 7rem;
  background-image: linear-gradient(to right, #ee6786, #f59460);
}
.middle-hero__right {
  background-image: linear-gradient(to right, rgba(90, 98, 132, 0.3), rgba(90, 98, 132, 0.3)), url(../assets/middle-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 37.5em) {
  .middle-hero__right {
    width: 100%;
    height: 40rem;
  }
}
.showcase {
  padding: 8rem 0;
  text-align: center;
}
.card {
  width: 50rem;
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 5rem;
  display: inline-block;
  opacity: 0.6;
  transition: all 1.5s;
}
.card--active {
  opacity: 1;
}
.card:first-child {
  margin-left: 5rem;
}
.card__img {
  display: block;
  width: 100%;
  height: 25rem;
  object-fit: cover;
  object-position: center;
}
.card__caption {
  padding: 1rem 0;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.pagination__dots {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
}
.pagination__dots:not(:last-child) {
  margin-right: 2rem;
}
.pagination__dots--selected {
  background-color: #ee6787;
  border-color: #ee6787;
}
.slider {
  overflow-x: hidden;
  white-space: nowrap;
}
.subscriptions {
  padding: 8rem 3rem;
  background-image: linear-gradient(to right, #937f8f, #5a6284);
  text-align: center;
}
.form {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
}
.form__input {
  flex-grow: 1;
  padding: 1.5rem;
  font-size: 1.8rem;
  background-color: transparent;
  border: 2px solid #eee;
  border-radius: 5px 0 0 5px;
  font-family: inherit;
  font-weight: inherit;
  caret-color: #fff;
}
.form__input::placeholder {
  color: #ddd;
}
.form__input:focus {
  outline: none;
}
.form__button {
  background-color: #fff;
  border: 2px solid #fff;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  color: #5a6284;
  border-radius: 0 5px 5px 0;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
}
.form__button:focus {
  outline: none;
}
.contact {
  padding: 8rem 3rem;
  text-align: center;
}
.contact__triptych {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 56.25em) {
  .contact__triptych {
    flex-direction: column;
    align-items: center;
  }
}
.panel {
  width: 33%;
}
.panel:not(:last-child) {
  border-right: 1px solid #ddd;
}
@media (max-width: 56.25em) {
  .panel:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
  }
}
@media (max-width: 56.25em) {
  .panel {
    width: 100%;
    text-align: center;
  }
}
.panel__icon {
  font-size: 2.4rem;
  color: #ee6787;
  width: 6rem;
  height: 6rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border: 2px solid #eee;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.panel__link {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
  font-size: 1.8rem;
}
.panel__link:hover {
  color: #ee6787;
  border-bottom: 1px dashed #ee6787;
}
.panel__address {
  font-style: normal;
  font-size: 1.8rem;
}
.footer {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  background-color: #eee;
}
@media (max-width: 37.5em) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}
.footer__copyright {
  color: #999;
}
.footer__social-link {
  text-decoration: none;
  color: #999;
  transition: all 0.3s;
}
.footer__social-link:not(:last-child) {
  margin-right: 1rem;
}
.footer__social-link:hover {
  color: #ee6787;
}
.nav {
  background-color: palevioletred;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40rem;
  padding: 4rem;
  transform: translateX(100%);
  transition: all 0.5s;
  z-index: 5;
  background-image: linear-gradient(to right, #ee6786, #f59460);
}
.nav--open {
  transform: translate(0);
}
.nav__link {
  display: block;
  text-decoration: none;
  color: #eee;
  padding: 1.5rem 0;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.nav__link:not(:last-child) {
  border-bottom: 1px solid #fff;
}
.nav__link:hover {
  color: #fff;
}
.nav__links {
  margin-bottom: 3rem;
}
.nav__close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}
.u-margin-bottom-sm {
  margin-bottom: 2rem !important;
}
